{{#if updateAnswerShowing}}
  <form>
    <div class="form-group">
      {{input value=author id="author" required="required" placeholder=answer.author  class="form-control"}}
    </div>
    <div class="form-group">
      {{textarea value=content id="content" class="form-control" rows="6" placeholder=answer.content}}
    </div>

    <button{{action 'updateAnswer' answer}} class="btn btn-success">Submit Changes</button>
  </form>
{{else}}
<button class="btn btn-success pull-right" {{action 'updateAnswerShow'}}>Edit</button>
{{/if}}
