{{#if updateQuestionShowing}}
<div class="well">
  <form>
    <div class="form-group">
      {{input value=author id="author" placeholder=question.author class="form-control"}}
    </div>
    <div class="form-group">
      {{input value=title id="title" placeholder=question.title class="form-control"}}
    </div>
    <div class="form-group">
      {{textarea value=notes id="notes" placeholder=question.notes class="form-control" rows=8}}
    </div>
    <button{{action 'update' question}} class="btn btn-success">Save Changes</button>
  </form>
</div>

{{else}}
<button class="btn btn-success" {{action 'updateQuestionShow'}}>Update Question</button>
{{/if}}
