<h1>{{model.title}}</h1>
<h3>By: {{model.author}}</h3>
<div class="well">
  <p>
  {{model.notes}}
  </p>
</div>

<button {{action 'delete' model}} class="btn btn-danger pull-right">Delete Question</button>
{{question-update question=model update="update"}}

<br>
{{answer-new saveAnswer="saveAnswer" question=model}}
<br>
<h3>Answers</h3>
{{#each model.answers as |answer|}}
  {{answer-tile answer=answer destroyAnswer="destroyAnswer" updateAnswer="updateAnswer"}}
{{/each}}
